<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site1</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text&amp;display=swap">
    <link rel="stylesheet" href="../static/css/ST-Brigantina-free.css">
    <link rel="stylesheet" href="../static/css/Filter.css">
    <link rel="stylesheet" href="../static/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="../static/css/NZSearchFilterClear.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-center border-2 shadow-sm d-xxl-flex justify-content-xxl-end align-items-xxl-center py-3"
        style="/*margin-bottom: -3px;*/padding-bottom: 0px;background: #ffffff;color: #ffffff;padding-top: 0px;/*margin-top: 28px;*/position: relative;height: px;">
        <div class="container-fluid"><span
                class="text-center d-sm-flex align-items-center align-content-center m-auto align-items-sm-center"
                style="font-family: ST-Brigantina-free;/*display: inline-flex;*//*overflow: visible;*/transform: perspective(0px) translate(0px) rotate(0deg) rotateY(0deg) scale(2.47) skew(0deg);/*filter: hue-rotate(0deg) invert(0%) sepia(0%);*/transform-origin: center;/*text-shadow: 0px 0px;*/color: #303f9f;font-size: 24px;position: relative;text-align: center;margin-right: -17px;padding-right: 0px;margin-left: -20px;padding-left: 0px;">Речь&nbsp;<img
                    src="../static/img/Логотип%201.svg" style="height: 30px;">&nbsp;идёт<a class="stretched-link"
                    href="/"></a></span><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-1" style="margin-left: 0px;"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/for_tutors"
                            style="font-family: ST-Brigantina-free;font-size: 35px;color: #303f9f;">Преподавателям</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contacts"
                            style="font-size: 35px;font-family: ST-Brigantina-free;color: #303f9f;">Контакты</a></li>
                </ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button
                        class="btn btn-primary" type="button">Button</button></div><span class="navbar-text"></span>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light border rounded me-2" role="button"
                    style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                    href="/instruction">Инструкция</a><a class="btn btn-primary border rounded" role="button"
                    href="/find"
                    style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;">Искать</a>
            </div><a href="#"></a>
        </div>
    </nav>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/DataTable---Fully-BSS-Editable-style.js"></script>
</body>

</html>