<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site1</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text&amp;display=swap">
    <link rel="stylesheet" href="../static/css/ST-Brigantina-free.css">
    <link rel="stylesheet" href="../static/css/Filter.css">
    <link rel="stylesheet" href="../static/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="../static/css/NZSearchFilterClear.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-center border-2 shadow-sm d-xxl-flex justify-content-xxl-end align-items-xxl-center py-3"
        style="/*margin-bottom: -3px;*/padding-bottom: 0px;background: #ffffff;color: #ffffff;padding-top: 0px;/*margin-top: 28px;*/position: relative;height: px;">
        <div class="container-fluid"><span
                class="text-center d-sm-flex align-items-center align-content-center m-auto align-items-sm-center"
                style="font-family: ST-Brigantina-free;/*display: inline-flex;*//*overflow: visible;*/transform: perspective(0px) translate(0px) rotate(0deg) rotateY(0deg) scale(2.47) skew(0deg);/*filter: hue-rotate(0deg) invert(0%) sepia(0%);*/transform-origin: center;/*text-shadow: 0px 0px;*/color: #303f9f;font-size: 24px;position: relative;text-align: center;margin-right: -17px;padding-right: 0px;margin-left: -20px;padding-left: 0px;">Речь&nbsp;<img
                    src="../static/img/Логотип%201.svg" style="height: 30px;">&nbsp;идёт<a class="stretched-link"
                    href="/"></a></span><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-4" style="margin-left: 0px;"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/for_tutors"
                            style="font-family: ST-Brigantina-free;font-size: 35px;color: #303f9f;">Преподавателям</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contacts"
                            style="font-size: 35px;font-family: ST-Brigantina-free;color: #303f9f;">Контакты</a></li>
                </ul>
                <div class="d-md-none my-2"><button class="btn btn-light me-2" type="button">Button</button><button
                        class="btn btn-primary" type="button">Button</button></div><span class="navbar-text"></span>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light border rounded me-2" role="button"
                    style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                    href="/instruction">Инструкция</a><a class="btn btn-primary border rounded" role="button"
                    href="/find"
                    style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;">Искать</a>
            </div><a href="#"></a>
        </div>
    </nav>
    <section class="py-4 py-xl-5" style="color: #303F9F;background: #c5cae9;">
        <section></section>
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold text-primary mb-2" style="color: #303f9f;"></p>
                <h1 class="fw-bold mb-4" style="color: #212121;font-family: 'Bellota Text', serif;">&nbsp;Слушайте
                    диалоги носителей русского языка и и<strong>зучайте словосочетания</strong></h1><a
                    class="btn btn-primary border rounded border-white" role="button" href="/find"
                    style="font-size: 35px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;transform: scale(1.10);">ПОИСК</a>
            </div>
        </div>
    </section>
    <div class="container py-4 py-xl-5" style="padding-bottom: 110px;margin-bottom: -77px;">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: #303f9f;font-family: 'Bellota Text', serif;">Чем отличаются язык и речь?</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: #303f9f;font-family: 'Bellota Text', serif;">Язык</h2>
                <p style="font-family: 'Bellota Text', serif;font-size: 20px;">Язык&nbsp;— это система. В языковой
                    системе есть разные уровни: фонетика, лексика, грамматика и синтаксис.&nbsp;</p>
                <p style="font-family: 'Bellota Text', serif;font-size: 20px;">Правила языка написаны в учебниках, вы
                    изучаете их на занятиях по русскому языку. Например, вы точно знаете, чтобы поздороваться, нужно
                    сказать: "Здравствуйте!"</p>
            </div>
            <div class="col-md-6">
                <h2 style="color: #303f9f;font-family: 'Bellota Text', serif;">Речь</h2>
                <p style="font-family: 'Bellota Text', serif;font-size: 20px;">Речь&nbsp;— это использование языка, это
                    то, как люди общаются друг с другом на самом деле.&nbsp;</p>
                <p style="font-family: 'Bellota Text', serif;font-size: 20px;">Если вы хотите свободно владеть русским
                    языком, вам нужно выучить не только его основные правила, но и узнать особенности разговорной речи.
                    Знали ли вы, что вместо "здравствуйте!" русские могут сказать: "здор<span
                        style="color: rgb(51, 51, 51);">ó</span>во", "здрасте" и даже"драсте"?</p>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;"
                        src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <p class="my-3"
                        style="position: relative;display: flex;font-family: 'Bellota Text', serif;width: px;text-align: justify;">
                        Выражение "речь идет о..." — это устойчивая конструкция, которая используется для уточнения,
                        объяснения или выделения какой-то мысли. Например:&nbsp;<br><br>"Ты не понял. Речь идет не о
                        деньгах, а о принципах"<br><br>В повседневной русской речи похожие конструкции встречаются очень
                        часто, поэтому нужно их изучать. На этом сайте вы можете познакомиться с другими конструкциями
                        русской разговорной речи.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5" style="color: rgb(33,33,33);">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: rgb(33, 33, 33);font-family: 'Bellota Text', serif;">Возможности</h2>
                <p style="font-family: 'Bellota Text', serif;">На этом сайте вы можете....</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                            style="background: #bdbdbd;color: #3f51b5;"><svg xmlns="http://www.w3.org/2000/svg"
                                width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                                class="bi bi-people-fill" style="color: #212121;">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z">
                                </path>
                                <path fill-rule="evenodd"
                                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z">
                                </path>
                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path>
                            </svg></div>
                        <h4 class="card-title" style="font-family: 'Bellota Text', serif;">Диалоги носителей русского
                            языка</h4>
                        <p class="card-text" style="font-size: 16px;font-family: 'Bellota Text', serif;">Erat netus est
                            hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                            style="background: #bdbdbd;color: #303f9f;"><svg xmlns="http://www.w3.org/2000/svg"
                                width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-body-text"
                                style="color: #212121;">
                                <path fill-rule="evenodd"
                                    d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z">
                                </path>
                            </svg></div>
                        <h4 class="card-title" style="font-family: 'Bellota Text', serif;">Конструкции русской речи</h4>
                        <p class="card-text" style="font-family: 'Bellota Text', serif;">Erat netus est hendrerit,
                            nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                            style="background: #bdbdbd;color: #212121;"><svg xmlns="http://www.w3.org/2000/svg"
                                width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-earbuds">
                                <path fill-rule="evenodd"
                                    d="M6.825 4.138c.596 2.141-.36 3.593-2.389 4.117a4.432 4.432 0 0 1-2.018.054c-.048-.01.9 2.778 1.522 4.61l.41 1.205a.52.52 0 0 1-.346.659l-.593.19a.548.548 0 0 1-.69-.34L.184 6.99c-.696-2.137.662-4.309 2.564-4.8 2.029-.523 3.402 0 4.076 1.948zm-.868 2.221c.43-.112.561-.993.292-1.969-.269-.975-.836-1.675-1.266-1.563-.43.112-.561.994-.292 1.969.269.975.836 1.675 1.266 1.563zm3.218-2.221c-.596 2.141.36 3.593 2.389 4.117a4.434 4.434 0 0 0 2.018.054c.048-.01-.9 2.778-1.522 4.61l-.41 1.205a.52.52 0 0 0 .346.659l.593.19c.289.092.6-.06.69-.34l2.536-7.643c.696-2.137-.662-4.309-2.564-4.8-2.029-.523-3.402 0-4.076 1.948zm.868 2.221c-.43-.112-.561-.993-.292-1.969.269-.975.836-1.675 1.266-1.563.43.112.561.994.292 1.969-.269.975-.836 1.675-1.266 1.563z">
                                </path>
                            </svg></div>
                        <h4 class="card-title" style="font-family: 'Bellota Text', serif;">Аудиозаписи</h4>
                        <p class="card-text" style="font-family: 'Bellota Text', serif;">Erat netus est hendrerit,
                            nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                            style="background: #bdbdbd;color: #212121;"><svg xmlns="http://www.w3.org/2000/svg"
                                width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-book">
                                <path
                                    d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z">
                                </path>
                            </svg></div>
                        <h4 class="card-title" style="font-family: 'Bellota Text', serif;">Комфортное обучение</h4>
                        <p class="card-text" style="font-family: 'Bellota Text', serif;">Erat netus est hendrerit,
                            nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p><a href="#"
                            style="color: #303f9f;">Learn More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                </path>
                            </svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/DataTable---Fully-BSS-Editable-style.js"></script>
</body>

</html>